<template>
  <div>
    <b-button rounded type="is-primary" @click="saveGroceryListState">
      <-- Save this list! (Under construction)
      <b-icon icon="account-hard-hat" type="is-warning" size="is-small"/>
    </b-button>
    <hr>
    <div style="min-height: 290px;border-style: dotted; ">
      <hr>
      <div style="min-height:40vh">
        <strong>Items to add:</strong>
        <ingredient-list :ingredients="stateListMutants" @remove-ingredient="removeIngredientListMutant" />
      </div>
    </div>
    <!-- TODO List the list mutants (:D) and also a way to remove them. -->
    <hr>
    <br />
    <div style="border-style:solid;min-height:30vh;">
      <h1 v-if="orderedEntrees.length > 0">Entree Calendar</h1>
      <div class="card" v-for="(entree,id) in orderedEntrees" :key="id">
        <!-- TODO add a way to remove calendar entrees -->
        <div class="card-content" v-bind:style="{ backgroundColor: entree.meal.color}">
          {{ entree.recipe.attributes.Name }} | <strong> {{ entree.meal.name }} </strong>
          <div style="float:right;"><a style="color:red" @click="removeEntreeFromCalendar(entree)">X</a></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex';
import IngredientList from '~/components/grocerylist/IngredientList.vue';
export default {
  components: {
    IngredientList
  },
  props: {
    entrees: Array
  },
  computed: {
    ...mapGetters({
      stateListMutants: 'entrees/getListMutants',
    }),
    orderedEntrees() {
      if (!this.entrees) return []
      return this.entrees.slice().sort(function(a, b) {
        return Number(a.meal.order) - Number(b.meal.order);
      });
    }
  },
  methods: {
    saveGroceryListState() {
      this.$store.dispatch('entrees/saveState', "jerry-flower");
    },
    removeEntreeFromCalendar(entree) {
      this.$store.dispatch('entrees/removeEntree', entree);
    },
    removeIngredientListMutant(mutant) {
      this.$store.dispatch('entrees/removeListMutant', mutant);
    }
  }
}
</script>
