<template>
  <div v-if="groceryIngredients.length > 0" id="instructions" class="paper">
    <div v-for="(categoryName,i) in getUniqueCategoryNames()" :key="i">
      <strong>{{ categoryName }}</strong> <b-icon :icon="getCategoryIcon(categoryName)"></b-icon>
      <p v-for="(ingredient,i) in getIngredientsForCategoryName(categoryName)" :key="i" style="font-family: 'Homemade Apple', cursive" @click="strikethroughThisBeach">
        {{ ingredient.amount }} x {{ ingredient.name}}
      </p>
    </div>
  </div>
</template>
<script>
import {mapGetters} from 'vuex';
export default {
  props: ["groceryIngredients"],
  computed: {
    ...mapGetters({
      stateCategories: 'ingredients/getCategories',
    }),
    groupedIngredientsWithSummedAmounts() {
      const result = [];

      this.getUniqueIngredientNames().forEach((ingredientName) => {
        let ingredientAmountArray = this.groceryIngredients.filter(i => i.name === ingredientName);
        let totalAmount = 0;
        let category = null;
        ingredientAmountArray.forEach(ia => {
          category = ia.category;
          totalAmount += ia.amount;
        });
        result.push({name: ingredientName, amount: totalAmount, category: category});
      });

      return result;
    },
  },
  methods: {
    getUniqueIngredientNames() {
      const uniqueIngredients = [...new Set(this.groceryIngredients.map(ingredient => ingredient.name))];
      return uniqueIngredients || [];
    },
    getIngredientsForCategoryName(categoryName) {
      return this.groupedIngredientsWithSummedAmounts.filter(i => i.category === categoryName);
    },
    getCategoryIcon(categoryName) {
      const category = this.stateCategories.find(cat => cat.name === categoryName);
      return category.icon || null;
    },
    getUniqueCategoryNames() {
      const uniqueCategories = [...new Set(this.groceryIngredients.map(ingredient => ingredient.category))];
      return uniqueCategories;
    },
    strikethroughThisBeach(target) {
      console.log('beach', target)
    }
  },
}
</script>
<style scoped>
#instructions {font: 16px 'AmericanTypewriter', Cambria, Georgia; color: #282625; margin: 0 auto; min-width: 300px;}
.paper {
padding: 37px 55px 27px;
position: relative;
border: 1px solid #B5B5B5;
background: white;
background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
-webkit-background-size: 100% 30px;
-moz-background-size: 100% 30px;
-ms-background-size: 100% 30px;
background-size: 100% 30px;
}
.paper::before {content:""; z-index:-1; margin:0 1px; width:706px; height:10px; position:absolute; bottom:-3px; left:0; background:white; border:1px solid #B5B5B5;}
.paper::after {content:''; position:absolute; width:0px; top:0; left:39px; bottom:0; border-left:1px solid #F8D3D3;}
</style>
