<template>
  <div>
    <b-collapse aria-id="contentIdForA11y2" class="panel" animation="slide" is-primary
      :open="currentRecipe.Ingredients.length > 0">
      <ingredient-list :ingredients="currentRecipe.Ingredients" @remove-ingredient="removeIngredientFromRecipe"/>
    </b-collapse>
    <b-field label="Name">
      <b-input v-model="currentRecipe.Name" placeholder="What is it? e.g. Cheesecake" rounded style="max-width:70%">
      </b-input>
    </b-field>
    <b-field label="Ingredient" grouped>
      <b-select v-model="currentRecipeIngredient.Ingredient" :loading="ingredientsLoading">
        <option v-for="ingredient in ingredients" :value="ingredient" :key="ingredient.attributes.id">
          {{ ingredient.attributes.Name }}
        </option>
      </b-select>
      <b-numberinput style="max-width:30%" controls-alignment="right" controls-position="compact"
        v-model="currentRecipeIngredient.Amount">
      </b-numberinput>
    </b-field>
    <br />
    <b-button rounded @click="addIngredientToRecipe" :disabled="!currentRecipeIngredient.Ingredient">
      <b-icon icon="playlist_add"></b-icon>Add to recipe!
    </b-button><br />
    <b-button rounded @click="activeTab = 2">Create an ingredient!</b-button><br />
    <b-button rounded @click="createRecipe">Create recipe!</b-button>
  </div>
</template>
<script>
import IngredientList from '~/components/grocerylist/IngredientList.vue';
import axios from 'axios';

export default {
  components: {
    IngredientList
  },
  data() {
    return {
      currentRecipe: {
        Name: "",
        Ingredients: []
      },
      currentRecipeIngredient: {
        Ingredient: null,
        Amount: 0
      },
    }
  },
  props: {
    ingredients: Array,
    ingredientsLoading: Boolean,
  },
  methods: {
    addIngredientToRecipe() {
      this.currentRecipe.Ingredients.push({
        Amount: this.currentRecipeIngredient.Amount,
        Ingredient: this.currentRecipeIngredient.Ingredient
      });
      this.currentRecipeIngredient.Amount = 0;
      this.currentRecipeIngredient.Ingredient = null;
    },
    removeIngredientFromRecipe(target) {
      this.currentRecipe.Ingredients.splice(target.index, 1)
    },
    async createRecipe() {
      const ingredientArray = this.currentRecipe.Ingredients.map(ingredient => {
        return {
          Ingredient: ingredient.Ingredient.id,
          Amount: ingredient.Amount
        }
      });

      const recipeObject = {
        data: {
          Name: this.currentRecipe.Name,
          RecipeIngredients: ingredientArray
        }
      }

      await axios
        .post("https://hiren-devs-strapi-j5h2f.ondigitalocean.app/api/recipes", recipeObject)
        .then(
          this.currentRecipe = {
            Name: "",
            Ingredients: []
          }
        )
        .then(this.$emit('refresh-recipes'))
        .catch(error => console.log(error));
    },
  }
}
</script>
