<template>
  <section>
    <b-collapse class="card" :open="false" animation="slide" aria-id="contentIdForA11y3">
      <template #trigger="props">
        <div class="card-image">
          <figure class="image is-4by3">
            <img :src="project.coverImage" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-header" role="button" aria-controls="contentIdForA11y3" :aria-expanded="props.open">
          <p class="card-header-title">
            {{ project.name }}
          </p>
          <a class="card-header-icon">
            <b-icon :icon="props.open ? 'menu-down' : 'menu-up'">
            </b-icon>
          </a>
        </div>
      </template>

      <div class="card-content">
        <div class="content">
          {{ project.description }}
        </div>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            View on <a :href="project.link" target="_blank">{{ project.link }}</a>
          </span>
        </p>
      </footer>
    </b-collapse>

  </section>
</template>
<script>
export default {
  props: [
    "project"
  ]
}
</script>
