<template>
  <div class="column">
    <div class="card">
      <header class="card-header is-one-half-mobile is-one-fourth-desktop is-one-third-tablet">
        <p class="card-header-title has-text-grey">
          {{ Name }}
        </p>
      </header>
      <div class="card-content">
        <div class="content has-text-centered">
          <a :href="metadata.url" target="_blank">
          <b-icon
            :icon="metadata.icon"
            size="is-large"
            type="is-primary"
          />
          </a>
        </div>
      </div>
      <footer class="card-footer">
        <div class="card-footer-item">
          <span>
            {{ Description }}
            <slot />
          </span>
        </div>
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    // urls() {
    //   let URLS = this.Urls
    //   let result = Object.keys(URLS).map(function(key, value) {
    //     return {name: key, url: URLS[key]}
    //   });
    //   return result
    // }
  },
  props: {
    Name: {
      type: String,
      required: true
    },
    metadata: {
      type: Object,
      required: true
    },
    Description: {
      type: String,
      required: true
    },
    // Urls: {
    //   type: Object,
    //   required: true
    // }
  }
}
</script>
