// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #1C0563;
$primary-invert: #CF5C36;
$white: #DEC4A1;
$white-invert:#000000;
$alt-primary: #2E0E02;
$alt-primary-invert: #FA4224;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "primary": ($primary, $primary-invert),
    "white": ($white, $white-invert),
    "alt-primary": ($alt-primary-invert, $alt-primary),
    "coral": ($alt-primary-invert, $primary)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$card-background-color: $white;
$box-background-color: $primary-invert;
// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
