<template>
  <div>
    <section class="is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-2 has-text-centered">
            Reach out and touch me!
          </h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="columns has-text-centered">
        <div class="column">
          Contact me if you need a vibe consultant, IT services for an idea/business or just a friendly chat :)
          <section>
            <div class="block">
              <a href="https://www.mixcloud.com/hersheyy/">
                <b-icon
                    icon="music"
                    size="is-large"
                    type="is-info">
                </b-icon>
              </a>
              <a href="https://www.instagram.com/hersh3yy/">
                <b-icon
                    icon="instagram"
                    size="is-large"
                    type="is-primary">
                </b-icon>
              </a>
              <a href="https://www.linkedin.com/in/hiren-budhrani-93594216/">
                <b-icon
                  icon="linkedin"
                  size="is-large"
                  type="is-primary">
                </b-icon>
              </a>
            </div>
          </section>
          <br />
          <MsnMessenger />
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import MsnMessenger from "~/components/MsnMessenger"
export default {
  name: 'HomePage',
  components: {
    MsnMessenger
  }
}
</script>
