<template>
  <div>
    <section class="section is-medium" />
    <section class="hero">
      <div class="hero-body">
        <p class="title is-2 has-text-centered">I am <em>Hiren</em>, a web developer who enjoys <em>absorbing</em> ideas, <em>visualizing</em> them, and <em>planning</em> their completion</p>
      </div>
    </section>
    <Skills />
    <Projects />
    <section class="secion is-medium">
      <ContactForm />
    </section>
  </div>
</template>
<script>
import Projects from '~/components/Projects'
import Skills from '~/components/Skills'
import ContactForm from '~/components/ContactForm.vue'
export default {
  components: {
    Skills,
    Projects,
    ContactForm,
  },
}
</script>
<style scoped>
em {
  background-image: url(https://c.tenor.com/_apm8JAlNcQAAAAC/moving-formation.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  margin: 10px 0;
}
</style>

