<template>
  <div>
    <section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-2">
            Projects that I have built
          </h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div v-if="stateProjects" class="columns is-multiline">
        <b-loading :active.sync="shouldBeLoading"></b-loading>
        <div class="column" v-for="(project, key) of stateProjects" :key="key">
          <card
            v-bind="project"
          >
              {{ project.Name }}
          </card>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import Card from '~/components/ProjectCard'
import {mapGetters} from 'vuex'

export default {
  name: 'HomePage',

  components: {
    Card
  },
  data () {
    return {
      isLoading: true
    }
  },
  computed: {
    ...mapGetters({
      stateProjects: 'projects/getProjects'
    }),
    shouldBeLoading() {
      return this.stateProjects.length < 1
    }
  },
  async fetch() {
    this.$store.dispatch('projects/refreshProjects')
  }
}
</script>
